################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Innovestech
/Innovestech_Umbraco/App_Data/TEMP/ExamineIndexes
/Innovestech_Umbraco/App_Data/TEMP/NuCache/NuCache.Content.tlog
/Innovestech_Umbraco/App_Data/TEMP/NuCache/NuCache.Content.db
