@inherits Umbraco.Web.Mvc.UmbracoViewPage

<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="" onclick="closeNav()"><i class="fa fa-times closebtn"> </i></a>
    <div class="col-xs-12 p-0 m-0 align-self-center"></div>
    <ul class="navbar-nav mr-auto m-0 bg-transparent" style="width: 100%; ">
        <li class="nav-item">
            <a class="nav-link" href="/" style="margin:0px">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/ccd/applications" style="margin:0px">Applications <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/umbraco/" style="margin:0px">Umbraco <span class="sr-only">(current)</span></a>
        </li>
    </ul>
</div>