@inherits Umbraco.Web.Mvc.UmbracoViewPage

<footer class="text-bg-primary">
    <div class="container py-4 py-md-5">
        <div class="col-12 col-md-10 p-0 m-0 row">
            <div class="col-md-6">
                <div class="col-md-3 p-0 m-0">
                    <img class="" alt="" src="~/Images/Innovestech_logo_white.png?w=100" height="66">
                </div>
                <div class="vstack gap-1 mt-3">
                    <b class="">CONTACT</b>
                    <p class="m-0">Innovestech</p>
                </div>
                <div class="hstack gap-1 mt-3">
                    <a class="btn btn-sm btn-light rounded-circle" href="mailto:hello@innovestech.co.uk"><i class="fa fa-envelope"></i></a>
                    <a class="btn btn-sm btn-light rounded-circle" href="tel:+447525457811"><i class="fa fa-phone"></i></a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="vstack">
                    <b class="footer-subheader">LATEST NEWS</b>
                    
                </div>
            </div>
            <div class="col-md-3">
                <div class="vstack">
                    <b class="footer-subheader">FOLLOW US</b>
                    <a class="text-white" target="_blank" href="https://www.instagram.com/ts.padel/"> <i class="fa-brands fa-linkedin"></i>&nbsp;Innovestech</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 m-0 row text-bg-secondary">
        <p class="text-center my-2">© 2025 Innovestech</p>
    </div>
</footer>