@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using TSPadel_Umbraco.Extensions;
@{
    string pageDocumentType = Model.ContentType.Alias.ToString().ToUpper();
}
@if (Model.Value("alertText") != null && Model.Value("alertText").ToString() != "")
{
    <div class="bg-earthgold col-12 m-0 p-2 text-center sticky-top" style="z-index: 5000 !important;">
        @Model.Value("alertText")
    </div>
}
<header class="@pageDocumentType">
    <nav class="navbar navbar-brand bg-white fixed-top p-0 m-0" id="myNav">
        <div class="container-fluid justify-content-md-start mb-2">
            <div class="col-6 col-md-auto p-0 m-0">
                <div class="hstack">
                    <button class="border-0 me-2 navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    @*<div class="vr bg-white opacity-100 mx-2 d-none d-md-block"></div>*@
                    
                </div>
            </div>
            <div class="ms-md-auto my-md-0 col-6 col-md-auto d-flex justify-content-around">
                <a class="navbar-brand border-0 ms-auto ms-md-2 me-0" href="#"><img class="" alt="Home" src="/images/Innovestech_logo.png" height="66"></a>
            </div>
            <div class="ms-md-auto my-md-0 col-12 col-md-auto d-flex justify-content-around">
                <div class="badge rounded-pill text-bg-secondary text-white ms-1"><a class="text-decoration-none" href="mailto:hello@innovestech.co.uk">hello@innovestech.co.uk</a></div>
                <div class="badge rounded-pill text-bg-secondary text-white ms-1"><a class="text-decoration-none" href="tel:+447525457811">+44 (0) 7525 457 811</a></div>
            </div>
        </div>
    </nav>
</header>
