


<div class="col-md-6 m-0 p-0 arrow-container">
    <div class="arrow-label-right row">
        <div class="col-md-6 m-0 p-0">
            <div class="arrow-action">Next post</div>
            <b class="arrow-title">The TSPadel Click Assessment…</b>
        </div>
        <div class="col-md-6 m-0 p-0">
            <img class="group-inner" alt="" src="./public/group-5199.svg">
        </div>
    </div>
</div>