


<div class="col-12 p-0 arrow-button-row row">
    <div class="col-md-6 m-0 p-0 arrow-container">
        <div class="arrow-label-left row">
            <div class="col-md-6 m-0 p-0">
                <img class="group-inner" alt="" src="./public/group-51991.svg">
            </div>
            <div class="col-md-6 m-0 p-0">
                <div class="arrow-action">Previous post</div>
                <b class="arrow-title">New Confined Spaces…</b>
            </div>
        </div>
    </div>
</div>