
   <div class="btn-white-parent">
       <div class="row button">
           <div class="contact-subheader turq">View News</div>
           <a href="/news">
               <img class="button-arrow" src="/public/icon-featherarrowright2.svg" alt="">
           </a>
       </div>
   </div>