:root {
    --bs-primary: #11284C;
    --bs-primary-rgb: 17, 40, 76;
    --bs-primary-hover: #274475;
    --bs-primary-hover-rgb: 39, 68, 117;
    --bs-link-color: #11284C;
    --bs-link-color-rgb: 17, 40, 76;
    --bs-link-decoration: none;
    --bs-link-hover-color: #274475;
    --bs-link-hover-color-rgb: 39, 68, 117;
    --bs-success: #008B8B;
    --bs-success-rgb: 0, 139, 139;
    --bs-success-hover: #00BEBE;
    --bs-success-hover-rgb: 0, 190, 190;
    --bs-secondary: #A37F26;
    --bs-secondary-rgb: 163, 127, 38;
    --bs-secondary-hover: #CC9F30;
    --bs-secondary-hover-rgb: 204, 159, 48;
}

header {
    background-color: #00000090;
}

/* Text */

h1 {
    font-family: "Montserrat";
    color: var(--bs-secondary);
}
h2 {
    font-family: "Lato";
    color: var(--bs-primary);
}

.text-white a,
.text-body a,
.text-primary a,
.text-secondary a,
.text-success a,
.text-danger a {
    color: inherit;
}

/* Buttons */

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--bs-primary);
    --bs-btn-border-color: var(--bs-primary);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--bs-primary-hover);
    --bs-btn-hover-border-color: var(--bs-primary-hover);
    --bs-btn-focus-shadow-rgb: var(--bs-primary-hover-rgb);
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--bs-primary-hover);
    --bs-btn-active-border-color: var(--bs-primary-hover);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: var(--bs-primary);
    --bs-btn-disabled-border-color: var(--bs-primary);
}

.btn-secondary {
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--bs-secondary);
    --bs-btn-border-color: var(--bs-secondary);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--bs-secondary-hover);
    --bs-btn-hover-border-color: var(--bs-secondary-hover);
    --bs-btn-focus-shadow-rgb: var(--bs-secondary-hover-rgb);
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--bs-secondary-hover);
    --bs-btn-active-border-color: var(--bs-secondary-hover);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: var(--bs-secondary);
    --bs-btn-disabled-border-color: var(--bs-secondary);
}

.btn-success {
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--bs-success);
    --bs-btn-border-color: var(--bs-success);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--bs-success-hover);
    --bs-btn-hover-border-color: var(--bs-success-hover);
    --bs-btn-focus-shadow-rgb: var(--bs-success-hover-rgb);
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--bs-success-hover);
    --bs-btn-active-border-color: var(--bs-success-hover);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: var(--bs-success);
    --bs-btn-disabled-border-color: var(--bs-success);
}

.btn-danger {
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--bs-danger);
    --bs-btn-border-color: var(--bs-danger);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--bs-danger-hover);
    --bs-btn-hover-border-color: var(--bs-danger-hover);
    --bs-btn-focus-shadow-rgb: var(--bs-danger-hover-rgb);
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--bs-danger-hover);
    --bs-btn-active-border-color: var(--bs-danger-hover);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: var(--bs-danger);
    --bs-btn-disabled-border-color: var(--bs-danger);
}

/* Navbar */

.navbar-dark {
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.offcanvas.offcanvas-start {
    width: 250px;
}

/* Hero Image */

.img-hero {
    position: absolute;
    top: 0;
    height: inherit;
    max-height: inherit;
    object-fit: cover;
    z-index: -1;
}

/* Badges */

.badge {
    --bs-badge-padding-x: 0.75em;
    --bs-badge-padding-y: 0.45em;
    --bs-badge-font-size: 0.9rem;
}

.homeTop_ranking {
    position: absolute;
    bottom: calc(100px * var(--pixelMultiplicator));
    right: 50px;
    z-index: 2;
    display: flex;
    align-items: flex-start;
}

/* Horizontal Rule */
